<div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="rounded shadow p-0 mb-4 me-md-4 w-100">  
            <div class="bg-primary py-3 rounded-top" >
                    <h2 class="text-center text-white  " >Azure</h2> 
                </div>
               <div class="p-4" >
                <p class="text-left py-5 " >
                    Jag har valt att publicera detta via Azure, som är en tjänst tillhandahållen av microsoft. Azure erbjuder allt möjligt inom IT där lösningen placeras i "molnet". Vanligtvis faktuerar microsoft baserat på mängden data som skickas. 

                    Men eftersom vi är studenter så tillåts vi testa detta utan kostnad :) 

                    <br><br>
                    Att publicera krånglade en del tyvärr. dock var detta att härleda till Angular applikationen och vilken mapp som den publicerade applikationen skapdes i. När Azure kör en "build" så skapdes en til undermapp vilket kunde ses och därefter justeras. När detta blev löst så fungerar det väldigt smidigt. Azure kontrollerar via github om det har blivit någon uppdatering och har det blivit det så triggas en ny build och publicering
                </p>
               </div>
            </div>
        </div> 
  </div>
  