<div class="container mx-auto  ">

  <div class="rounded-lg shadow-lg p-0 mb-4 md:mb-0 md:mr-4 w-full">
    <div class="bg-blue-500 py-3 rounded-t-lg">
      <h1 class="text-center text-white text-5xl font-bold">
        hej hej
      </h1>
    </div>
    <p class="text-center py-5" >
      tjenaare detta är skoj :)
    </p>
  </div>

  <div class="rounded-lg shadow-lg p-0 mb-4 md:mb-0 md:mr-4 w-full">
    <div class="bg-blue-500 py-3 rounded-t-lg">
      <h2 class="text-center text-white text-5xl font-bold">
        Formulär
      </h2>
    </div>
      <form action="">




        


      </form>
  </div>
  
  <div class="flex flex-col md:flex-row justify-between gap-4">

      <div class="rounded-lg shadow-lg w-full" >
        <div class="bg-blue-500 py-3 rounded-t-lg">
            <h2 class="text-3xl text-white font-bold text-center">
              Hej Molly. du är bäst!  
            </h2>
          </div>

          <div class="overflow-x-auto p-3">
            <table class="min-w-full mx-auto  table-auto table-sm text-sm">
              <thead>
              <tr class="border-b border-gray-300">
                  <th ></th>
                  <th >Förnamn</th>
                  <th>Efternamn</th>
                  <th >ålder</th>
                  <th >stad</th>
              </tr>
              </thead>
              <tbody>
              <tr class="hover:bg-gray-100 border-b border-gray-300">
                  <th>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>1992</td>
                  <td>Ludvika</td>
              </tr>
              <tr class="hover:bg-gray-100 border-b border-gray-300">
                  <th >2</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>1992</td>
                  <td>Ludvika</td>
              </tr>
              </tbody>
          </table>
          </div>
        </div>


        <div class="rounded-lg shadow-lg w-full" >
          <div class="bg-blue-500 py-3 rounded-t-lg">
              <h2 class="text-3xl text-white font-bold text-center">
                Hej Molly. du är bäst!  
              </h2>
            </div>
  
            <div class="overflow-x-auto p-3">
                <table class="min-w-full mx-auto  table-auto table-sm text-sm">
                  <thead>
                  <tr class="border-b border-gray-300">
                      <th ></th>
                      <th >Förnamn</th>
                      <th>Efternamn</th>
                      <th >ålder</th>
                      <th >stad</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="hover:bg-gray-100 border-b border-gray-300">
                      <th>1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>1992</td>
                      <td>Ludvika</td>
                  </tr>
                  <tr class="hover:bg-gray-100 border-b border-gray-300">
                      <th >2</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>1992</td>
                      <td>Ludvika</td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>









  </div>





  
</div>
  