<div class="container mx-auto  space-y-5">

  <div class="rounded-lg shadow-lg p-0 mb-4 md:mb-0 md:mr-4 w-full">
    <div class="bg-blue-500 py-3 rounded-t-lg">
      <h1 class="text-center text-white text-5xl font-bold">
        hej hej
      </h1>
    </div>
    <p class="text-center py-5" >
      tjenaare detta är skoj :)
    </p>
  </div>

  <div class="rounded-lg shadow-lg p-0 mb-4 md:mb-0 md:mr-4 w-full">
    <div class="bg-blue-500 py-3 rounded-t-lg">
      <h2 class="text-center text-white text-5xl font-bold">
        Formulär
      </h2>
    </div>
      <form class="space-y-3 p-3" action="">
        
        <div class="mb-2">
            <label class="block text-sm font-medium">Namn</label>
            <input type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm sm:text-sm " >
        </div>

        <div class="mb-2">
          <label class="block text-sm font-medium">Roll</label>
          <select class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm sm:text-sm ">
              <option>Ingenjör</option>
              <option>Läkare</option>
              <option>Programmerare</option>
          </select>
        </div>
        
        <div class="mb-4">
          <div class="block text-sm font-medium">
              <label class="form-check-label ">Kund?</label>
              <input type="checkbox" class="mt-1 block " >
          </div>
      </div>

      <div class="mb-4 py-3">
        <div class="form-floating ">
            <textarea class="form-control" id = "comment" style="height: 80px" ></textarea>
            <label for="comment">Skriv kommentar</label>
        </div>
      </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  <div class="flex flex-col md:flex-row justify-between gap-4">

      <div class="rounded-lg shadow-lg w-full" >
        <div class="bg-blue-500 py-3 rounded-t-lg">
            <h2 class="text-3xl text-white font-bold text-center">
              Hej Molly. du är bäst!  
            </h2>
          </div>

          <div class="overflow-x-auto p-3">
            <table class="min-w-full mx-auto  table-auto table-sm text-sm">
              <thead>
              <tr class="border-b border-gray-300">
                  <th ></th>
                  <th >Förnamn</th>
                  <th>Efternamn</th>
                  <th >ålder</th>
                  <th >stad</th>
              </tr>
              </thead>
              <tbody>
              <tr class="hover:bg-gray-100 border-b border-gray-300">
                  <th>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>1992</td>
                  <td>Ludvika</td>
              </tr>
              <tr class="hover:bg-gray-100 border-b border-gray-300">
                  <th >2</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>1992</td>
                  <td>Ludvika</td>
              </tr>
              </tbody>
          </table>
          </div>
        </div>


        <div class="rounded-lg shadow-lg w-full" >
          <div class="bg-blue-500 py-3 rounded-t-lg">
              <h2 class="text-3xl text-white font-bold text-center">
                Hej Molly. du är bäst!  
              </h2>
            </div>
  
            <div class="overflow-x-auto p-3">
                <table class="min-w-full mx-auto  table-auto table-sm text-sm">
                  <thead>
                  <tr class="border-b border-gray-300">
                      <th ></th>
                      <th >Förnamn</th>
                      <th>Efternamn</th>
                      <th >ålder</th>
                      <th >stad</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="hover:bg-gray-100 border-b border-gray-300">
                      <th>1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>1992</td>
                      <td>Ludvika</td>
                  </tr>
                  <tr class="hover:bg-gray-100 border-b border-gray-300">
                      <th >2</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>1992</td>
                      <td>Ludvika</td>
                  </tr>
                  </tbody>
              </table>
            </div>
          </div>









  </div>





  
</div>
  