
<div class="container mt-5">

    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="rounded shadow p-0 mb-4 me-md-4 w-100">  
            <div class="bg-primary py-3 rounded-top" >
                    <h2 class="text-center text-white  " >Bootstrap</h2> 
                </div>
               <div>
                <p class="text-center py-5" >Jag tycker det är väldigt bra</p>
               </div>
            </div>
        </div>


        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="rounded shadow p-0 mb-4 me-md-4 w-100">  
                <div class="bg-primary py-3 rounded-top" >
                        <h2 class="text-center text-white  " >Bootstrap</h2> 
                    </div>
                   <div class="form-responsive p-2" >
                    
                        <form action="">
                            <div class="mb-3">
                                <label class="form-label">Namn</label>
                                <input type="text" class="form-control" >
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Roll</label>
                                <select class="form-select">
                                    <option>Ingenjör</option>
                                    <option>Läkare</option>
                                    <option>Programmerare</option>
                                </select>
                            </div>
                    
                            <div class="mb-3">
                                <div class="form-check">
                                    <label class="form-check-label ">Kund?</label>
                                    <input type="checkbox" class="form-check-input" >
                                </div>
                            </div>
                            <div class="mb-3 py-3">
                                <div class="form-floating ">
                                    <textarea class="form-control" id = "comment" style="height: 80px" ></textarea>
                                    <label for="comment">Skriv kommentar</label>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                   </div>
                </div>
            </div>








    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="rounded shadow p-0 mb-4 me-md-4 w-100">  
            <div class="bg-primary py-3 rounded-top" >
                    <h2 class="text-center text-white  " >Tabell</h2> 
                </div>
                <div class="table-responsive p-2">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th ></th>
                        <th >Förnamn</th>
                        <th >Efternamn</th>
                        <th >ålder</th>
                        <th >stad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>1992</td>
                        <td>Ludvika</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>1992</td>
                        <td>Ludvika</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>




        <div class="rounded shadow p-0 mb-4 me-md-4 w-100">
            <div class="bg-primary py-3 rounded-top" >
                    <h2 class="text-center text-white  " >Tabell</h2> 
                </div>
                <div class="table-responsive p-2">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Förnamn</th>
                        <th scope="col">Efternamn</th>
                        <th scope="col">ålder</th>
                        <th scope="col">stad</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>1992</td>
                        <td>Ludvika</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>1992</td>
                        <td>Ludvika</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>