/* Globala stilar */

/* Sätt höjd för html och body */
html, body { 
  height: 100%; 
}

/* Återställ standardmarginaler för body och använd ett standard font */
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Styla main för att ge det ett top-margin */
main {
  margin-top: 40px;
}

/* Lägg till eventuella andra globala stilar här */
